body {
  background-color: #f2f3f8;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
}
body h1 {
  font-size: 50px;
}
body h2 {
  font-size: 45px;
}
body h3 {
  font-size: 40px;
}
body h4 {
  font-size: 35px;
}
body h5 {
  font-size: 30px;
}
@media (min-width: 992px) {
  body h1 {
    font-size: 95px;
  }
  body h2 {
    font-size: 80px;
  }
  body h3 {
    font-size: 65px;
  }
  body h4 {
    font-size: 50px;
  }
  body h5 {
    font-size: 35px;
  }
}

#navbar {
  --bs-navbar-hover-color: #f0ae35;
  --bs-navbar-color: #333;
  line-height: 2rem;
}
#navbar .navbar-toggler {
  color: #2b2c2f !important;
  border: none !important;
}
#navbar button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}
#navbar .navbar-brand {
  width: 80%;
  text-align: left;
  font-family: "Grand Hotel";
  font-size: 3rem;
}
#navbar .nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bolder;
  font-size: 1rem;
}
#navbar .nav-item img {
  height: 28px;
  width: 28px;
}
#navbar .nav-item a {
  padding-right: 10px;
  padding-left: 1rem;
}
@media (min-width: 992px) {
  #navbar {
    line-height: 5rem;
  }
  #navbar .navbar-brand {
    width: 20%;
    text-align: center;
  }
}

#swiper {
  margin-top: 10vh;
  width: 100vw;
  height: 50vh;
  position: relative;
  color: #fff;
  font-family: "Changa One", sans-serif;
}
#swiper .swiper {
  width: 100%;
  height: 100%;
}
#swiper .btn-shape {
  border-radius: 35px;
}
#swiper .btn-md {
  font-size: 20px;
  font-family: "Lato", sans-serif;
  padding: 13.5px 40px;
}
#swiper .btn-color {
  background-color: #ec5353;
  color: #fff;
}
#swiper .btn:hover {
  color: #fff;
  background-color: #f9b129;
  border-color: #f9b129;
}
#swiper h1 {
  font-size: 50px;
}
#swiper h2 {
  font-size: 45px;
}
#swiper h3 {
  font-size: 40px;
}
#swiper h4 {
  font-size: 35px;
}
#swiper h5 {
  font-size: 30px;
}
#swiper h5:before,
#swiper h5:after {
  content: "";
  display: inline-block;
  border-top: 2px solid;
  width: 20px;
  margin: 0 7px;
  height: 10px;
}
#swiper .container {
  width: 100%;
  font-weight: 700;
  position: absolute;
  z-index: 1;
}
#swiper .text-primary-lighter {
  color: #fccb56;
}
#swiper .label-swiper {
  position: relative;
  padding: 5px;
  text-align: center;
}
#swiper .label-swiper:before {
  content: "";
  position: absolute;
  top: -5px;
  bottom: 0;
  right: -12px;
  left: -5px;
  background-color: #ec5353;
  z-index: -1;
  -webkit-transform: skew(-20deg);
          transform: skew(-20deg);
}
#swiper .group-sm > * {
  display: inline-block;
  margin-top: 10px;
  margin-left: 1.5rem;
}
#swiper .swiper-slide {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#swiper .swiper-slide span {
  font-size: 36px;
  display: block;
}
#swiper .swiper-slide .home-slide {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#swiper .img-responsive,
#swiper .img-responsive-1 {
  display: none;
  max-width: 100%;
  height: auto;
}
#swiper .swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  text-align: left;
  line-height: 20px;
  font-size: 12px;
  opacity: 1;
  background: #fff;
}
#swiper .swiper-pagination-bullet-active {
  color: #fff;
  background: #ec5353;
}
#swiper .input-group {
  position: relative;
}
#swiper .img-caption-1,
#swiper .img-caption-2,
#swiper .img-caption-3,
#swiper .img-caption-4,
#swiper .img-caption-5,
#swiper .img-caption-6 {
  position: absolute;
}
#swiper .img-caption-5 {
  top: 0;
  right: 0;
}
#swiper .pr {
  position: relative;
}
#swiper .img-caption-1 {
  bottom: -22vh;
  right: -15vw;
}
#swiper .img-caption-2 {
  top: -10vh;
  right: -12vw;
}
#swiper .img-caption-3 {
  top: -12vh;
  left: -10vw;
}
#swiper .img-caption-4 {
  bottom: -20vh;
  left: -13vw;
}
#swiper .img-caption-5 {
  top: 0;
  right: 3vw;
}
@media (min-width: 768px) {
  #swiper .img-responsive {
    display: none;
  }
  #swiper .img-responsive-1 {
    display: inline-block;
    max-width: 100%;
    height: auto;
  }
  #swiper .img-responsive-1 img {
    width: 100%;
    height: auto;
  }
  #swiper h5:before,
  #swiper h5:after {
    content: "";
    display: inline-block;
    border-top: 2px solid;
    width: 44px;
    margin: 0 7px;
    height: 10px;
  }
}
@media (min-width: 992px) {
  #swiper {
    height: 100vh;
  }
  #swiper span {
    font-size: 36px;
  }
  #swiper h1 {
    font-size: 95px;
  }
  #swiper h2 {
    font-size: 80px;
  }
  #swiper h3 {
    font-size: 65px;
  }
  #swiper h4 {
    font-size: 50px;
  }
  #swiper h5 {
    font-size: 40px;
  }
  #swiper .btn-md {
    width: 18vw;
    border-radius: 50px;
  }
}
@media (min-width: 1200px) {
  #swiper .img-responsive {
    display: inline-block;
    max-width: 100%;
    height: auto;
  }
}

#threeImage {
  padding-top: 50px;
  padding-bottom: 50px;
}
#threeImage .container-wide {
  padding-left: 15px;
  padding-right: 15px;
}
#threeImage a {
  text-decoration: none;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
#threeImage a h3 {
  font-family: "Changa One", cursive;
  font-weight: 400;
  line-height: 1.5;
  display: block;
  font-style: italic;
}
#threeImage a p {
  display: block;
  font-family: "Lato";
  font-size: 1.5rem;
  line-height: 23px;
  width: 100%;
}
#threeImage .thumbnail-variant-3 {
  position: relative;
  width: 100%;
  height: auto;
}
#threeImage .thumbnail-variant-3::before {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.35);
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
}
#threeImage .caption {
  position: absolute;
  padding-bottom: 50px;
  width: 100%;
}
@media (min-width: 768px) {
  #threeImage {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  #threeImage .container-wide {
    min-width: 750px;
  }
  #threeImage h3 {
    line-height: 1 !important;
  }
  #threeImage .caption {
    padding-bottom: 0px;
  }
}
@media (min-width: 992px) {
  #threeImage .container-wide {
    min-width: 970px;
  }
  #threeImage a {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (min-width: 1200px) {
  #threeImage .container-wide {
    min-width: 1200px;
  }
}

#burger {
  font-family: "Lato";
}
#burger :root {
  --swiper-navigation-color:#ec5353!important;
}
#burger .card {
  --bs-card-border-color:none!important;
}
#burger h3 {
  font-family: "Changa One", cursive;
  text-align: center;
  font-size: 35px;
}
#burger .responsive-tabs .resp-tabs-list {
  display: none;
}
#burger ul {
  list-style: none;
}
#burger .swiper-button-next, #burger .swiper-button-prev {
  color: #ec5353 !important;
}
#burger .swiper {
  width: 100%;
  height: 100%;
}
#burger .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#burger .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#burger .card-title > a {
  color: #2b2c2f;
  font-size: 24px;
}
#burger .card-text {
  color: #9b9b9b;
  font-size: 14px;
}
#burger .btn-danger {
  --bs-btn-color: #fff;
  --bs-btn-bg: #ec5353;
  --bs-btn-border-color: ##ec5353;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #f9b129;
  --bs-btn-hover-border-color: #f9b129;
  --bs-btn-focus-shadow-rgb: none;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #ec5353;
  --bs-btn-active-border-color: #ec5353;
  --bs-btn-active-shadow: none;
  font-size: 1.2rem;
  padding: 10px 28px;
  border-radius: 35px;
}
@media (min-width: 992px) {
  #burger .responsive-tabs .resp-tabs-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    font-size: 1rem;
    font-family: "Lato";
  }
  #burger .btn {
    background: transparent;
    color: #9b9b9b;
    border: 2px solid #e0e1e9;
    border-radius: 35px;
    -webkit-box-shadow: 0px 0px 0px 0px transparent;
            box-shadow: 0px 0px 0px 0px transparent;
    padding: 10px 36px;
  }
  #burger .btn:hover {
    border: 2px solid #ec5353;
    color: #ec5353;
  }
  #burger .btn:focus {
    border: 2px solid #ec5353;
    color: #ec5353;
  }
}