// body {
//   font-family: , 'Lato';
// //   font-family: 'Changa One', sans-serif;
// // font-family: 'Lato', sans-serif;
// }
body {
  // font-family: "Lato",'Changa One' , Arial, sans-serif;
  // color: #000;
  // color: #9b9b9b;
  // color: #fff;
  background-color: #f2f3f8;
  font-weight: 400;
  font-size: 14px;
  overflow-x: hidden;
  // font-family: "Changa One", cursive;
  line-height: 1.2;
  // color: #2b2c2f;

  

  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 45px;
  }
  h3 {
    font-size: 40px;
  }
  h4 {
    font-size: 35px;
  }
  h5 {
    font-size: 30px;
  }

  .btn-danger{
    border-radius: 20px;
    font-size: 1rem;
    --bs-btn-hover-bg: #f9b129;
    --bs-btn-hover-border-color: #f9b129;
    --bs-btn-color: #fff;
    --bs-btn-hover-color: #fff;
    font-family: "Lato";
    padding: 5px 28px;
  }
  .font{
    font-size: 12px!important;
  }
  
  .btn{
    font-weight: 700;
  }

  .card{
    text-align: center;
    --bs-card-bg: transparent;
    --bs-card-border-color:transparent;
    font-family: "Changa One", cursive;
  }

  @include lg {
    h1 {
      font-size: 95px;
    }
    h2 {
      font-size: 80px;
    }
    h3 {
      font-size: 65px;
    }
    h4 {
      font-size: 50px;
    }
    h5 {
      font-size: 35px;
    }

    .btn-danger{
      border-radius: 35px;
      font-size: 1rem;
      width: 30%;
      --bs-btn-hover-bg: #f9b129;
      --bs-btn-hover-border-color: #f9b129;
      --bs-btn-color: #fff;
      --bs-btn-hover-color: #fff;
    }
  }
}
